#btn--yp {
  box-sizing: content-box;
  position: fixed;
  z-index: 9;
  bottom: 1em;
  right: 1em;
  border: solid 1em transparent;
  width: 4.625em;
  height: 3.25em;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2017/icon-yp.svg) 50%/cover content-box;
  font: 16px/ 1.25 trebuchet ms, sans-serif;
  text-indent: 200vw;
  text-shadow: none;
  filter: grayscale(1) drop-shadow(0 0 1px #e8e0e0);
  transition: .5s;
  white-space: nowrap;
}
#btn--yp:before {
  box-sizing: inherit;
  position: absolute;
  left: 0;
  bottom: 100%;
  margin: 1em -.5em;
  padding: .5em;
  width: 100%;
  border-radius: 5px;
  background: #e8e0e0;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-indent: 0vw;
  white-space: normal;
  animation: float 1s ease-in-out infinite alternate;
  content: attr(data-txt);
}
#btn--yp:hover, #btn--yp:focus {
  outline: none;
  filter: grayscale(0) drop-shadow(0 0 1px crimson);
}

@keyframes float {
  to {
    transform: translateY(0.75em);
  }
}
@media (max-width: 750px) and (min-width: 400px) {
  html {
    font-size: 2vw;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 4vw;
  }
}

body {
  display: grid;
  place-items: center;
  grid: repeat(4, 1fr)/repeat(2, 1fr);
  grid-auto-flow: column;
  grid-gap: .25rem;
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(#717171, #373737) 50% 0/100% 100vh fixed;
  text-align: center;
}
@media (min-width: 1550px) and (min-aspect-ratio: 2 / 1) {
  body {
    grid: repeat(2, 1fr)/repeat(4, 1fr);
    grid-auto-flow: row;
  }
}
@media (max-width: 400px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 135px;
  }
}

button {
  overflow: hidden;
  margin: 1em auto;
  border: none;
  padding: 0;
  width: 10em;
  height: 2.5em;
  border-radius: 0.3125em;
  --dy: 0px;
  transform: translatey(var(--dy));
  --in-sh: inset 0 -0.15625em 1px rgba(0, 0, 0, 0.25);
  box-shadow: var(--in-sh), 0 calc(0.3125em - var(--dy)) 1.875em calc(.5*var(--dy) - 0.9375em) #000, 0 calc(0.625em - var(--dy)) 1.25em calc(.5*var(--dy) - 0.9375em) #000, 0 calc(0.9375em - var(--dy)) 1.25em calc(.5*var(--dy) - 0.9375em) #000;
  background: Linear-gradient(var(--slist));
  font: 2em/ 2.5em abel, trebuchet ms, verdana, arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  filter: grayscale(0.85) contrast(0.85);
  transition: .3s;
  cursor: pointer;
}
button:focus, button:hover {
  outline: none;
  filter: none;
}
button:active {
  --dy: 0.3125em;
}
button[data-icon] {
  width: 11.25em;
  border-radius: 0.15625em;
}
button[data-icon]:before {
  float: left;
  width: 2.5em;
  box-shadow: var(--in-sh);
  background: linear-gradient(#3a3e40, #393d40);
  content: attr(data-icon);
  /* don't add padding arrow is clipped from
   * if clip-path not supported (cough, Edge, cough) */
}
@supports (clip-path: circle(5px)) {
  button[data-icon]:before {
    padding-right: 0.625em;
    clip-path: polygon(0 0, 2.5em 0, 2.5em 29%, 100% 50%, 2.5em calc(100% - 29%), 2.5em 100%, 0 100%);
  }
}
button:not([data-icon]) {
  position: relative;
}
button:not([data-icon]):before, button:not([data-icon]):after {
  position: absolute;
  top: 50%;
  left: calc(var(--i, 0)*100%);
  padding: 0.3125em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 0.46875em;
  transform: translate(-50%, -50%) rotate(60deg) skewx(30deg) scaley(0.86603);
  box-shadow: 0 0 0 0.3125em currentcolor;
  background: currentcolor content-box;
  color: #293a42;
  content: "";
}
button:not([data-icon]):after {
  --i: 1;
}

.invert {
  color: #000;
}